<template>
    <div>
        <div>
            <v-container>
                <v-row class="text-center">
                    <v-dialog id="add" v-model="dialogChecker" persistent max-width="600px">
                        <template v-slot:activator="{ on }">
                            <v-btn
                                    class="ma-2"
                                    tile
                                    outlined
                                    color="#1f4d9e"
                                    v-on="on">
                                Добавить
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">Заявка</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="Fio*" required v-model="claim.fio"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="contactNumber*" required
                                                          v-model="claim.contactNumber"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="contactEmail*" required
                                                          v-model="claim.contactEmail"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="projectName*" required
                                                          v-model="claim.projectName"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="scientificDirector*" required
                                                          v-model="claim.scientificDirector"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="checker*" required
                                                          v-model="claim.checker"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="description*" required
                                                          v-model="claim.description"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="op*" required v-model="claim.op"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                                <small>*indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="dialogChecker = false">Close</v-btn>
                                <v-btn color="blue darken-1" text @click="add()">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-btn
                            @click="prepareForm()"
                            :disabled="this.selected.length !== 1"
                            class="ma-2"
                            tile
                            outlined
                            color="#1f4d9e"
                            @click.stop="dialogEdit = true">
                        Редактировать
                    </v-btn>


                    <v-dialog id="edit" v-model="dialogEdit" persistent max-width="600px">
                        <v-card>
                            <v-card-title>
                                <span class="headline">Заявка</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="Fio*" required v-model="edited.fio"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="contactNumber*" required
                                                          v-model="edited.contactNumber"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="contactEmail*" required
                                                          v-model="edited.contactEmail"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="projectName*" required
                                                          v-model="edited.projectName"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="scientificDirector*" required
                                                          v-model="edited.scientificDirector"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="checker*" required
                                                          v-model="edited.checker"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="description*" required
                                                          v-model="edited.description"></v-text-field>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field label="op*" required v-model="edited.op"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                                <small>*indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="dialogEdit = false">Close</v-btn>
                                <v-btn color="blue darken-1" text @click="edit()">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <v-btn :disabled="this.selected.length !== 1"
                           @click="del()"
                           class="ma-2"
                           tile
                           outlined
                           color="#1f4d9e">
                        Удалить
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn @click="check"
                           class="ma-2"
                           tile
                           outlined
                           color="#1f4d9e">
                        Обновить
                    </v-btn>
                </v-row>
            </v-container>
        </div>
        <div>
            <v-data-table
                    v-model="selected"
                    :headers="headers"
                    :items="claims"
                    item-key="id"
                    show-select>
                <template v-slot:item.status="{value}">
                    {{checkStatus(value)}}
                </template>
            </v-data-table>
        </div>
    </div>
</template>

<script>
    const axios = require('axios');
    export default {
        name: 'HelloWorld',

        data: () => ({
            claim: {
                id: "",
                fio: "",
                status: "",
                contactEmail: "",
                contactNumber: "",
                projectName: "",
                scientificDirector: "",
                checker: "",
                description: "",
                op: ""
            },
            edited: {
                id: "",
                fio: "",
                status: "",
                contactEmail: "",
                contactNumber: "",
                projectName: "",
                scientificDirector: "",
                checker: "",
                description: "",
                op: ""
            },
            claims: [],
            dialogChecker: null,
            dialogEdit: null,
            widgets: false,
            singleSelect: false,
            selected: [],
            headers: [
                {
                    text: '№ Заявки',
                    align: 'start',
                    sortable: false,
                    value: 'id',
                },
                {text: 'Студент (ФИО)', value: 'fio'},
                {text: 'Статус заявки', value: 'status'},
                {text: 'E-mail', value: 'contactEmail'},
                {text: 'Телефон', value: 'contactNumber'},
                {text: 'Название проекта или КР/ВКР', value: 'projectName',},
                {text: 'Научный Руководитель (ФИО)', value: 'scientificDirector'},
                {text: 'Проверяющий', value: 'checker'},
                {text: 'Комментарий', value: 'description'},
                {text: 'Образовательная программа', value: 'op'}
            ],
        }),
        beforeCreate() {
            axios.default.get("http://localhost:8082/claim").then(res => {
                console.log(res)
                res.data.forEach(claim => {
                    this.claims.push(claim)
                })

            })
        },
        methods: {
            check() {
                this.$forceUpdate();
            },
            add() {
                const claim = {
                    id: this.claim.id,
                    contactNumber: this.claim.contactNumber,
                    description: this.claim.description,
                    contactEmail: this.claim.contactEmail,
                    fio: this.claim.fio,
                    projectName: this.claim.projectName,
                    scientificDirector: this.claim.scientificDirector,
                    checker: this.claim.checker,
                    op: this.claim.op
                };

                axios.default.post("http://localhost:8082/claim", claim).then(res => {
                    const claim = {
                        id: res.data.id,
                        fio: res.data.fio,
                        status: res.data.status,
                        contactEmail: res.data.contactEmail,
                        contactNumber: res.data.contactNumber,
                        projectName: res.data.projectName,
                        scientificDirector: res.data.scientificDirector,
                        checker: res.data.checker,
                        description: res.data.description,
                        op: res.data.op
                    }
                    this.claims.unshift(claim)
                    this.dialogChecker = false
                    console.log(res);
                })
                this.claim.scientificDirector = ''
                this.claim.projectName = ''
                this.claim.contactNumber = ''
                this.claim.fio = ''
                this.claim.contactEmail = ''
                this.claim.description = ''
                this.claim.id = ''
                this.claim.status = ''
                this.claim.checker = ''
                this.claim.op = ''
            },
            edit() {
                console.log("HU")
                let id = this.edited.id
                const claim = {
                    id: this.edited.id,
                    contactNumber: this.edited.contactNumber,
                    description: this.edited.description,
                    contactEmail: this.edited.contactEmail,
                    fio: this.edited.fio,
                    projectName: this.edited.projectName,
                    scientificDirector: this.edited.scientificDirector,
                    checker: this.edited.checker,
                    op: this.edited.op
                };

                axios.default.put(`http://localhost:8082/claim/${id}`, claim).then(res => {
                    const claim = {
                        id: res.data.id,
                        fio: res.data.fio,
                        status: res.data.status,
                        contactEmail: res.data.contactEmail,
                        contactNumber: res.data.contactNumber,
                        projectName: res.data.projectName,
                        scientificDirector: res.data.scientificDirector,
                        checker: res.data.checker,
                        description: res.data.description,
                        op: res.data.op
                    }
                    let indexOf = this.claims.indexOf(this.selected[0]);

                    this.claims.splice(indexOf, 1, claim)
                    this.selected = []
                    this.dialogEdit = false
                    console.log(res);
                })

                this.edited.scientificDirector = ''
                this.edited.projectName = ''
                this.edited.contactNumber = ''
                this.edited.fio = ''
                this.edited.contactEmail = ''
                this.edited.description = ''
                this.edited.id = ''
                this.edited.status = ''
                this.edited.checker = ''
                this.edited.op = ''


                //edit claim

            },
            del() {
                let id = this.selected[0].id;
                let formData = new FormData();
                formData.append("id", id);
                axios.default.delete("http://localhost:8082/claim/" + id).then(res => {
                    let indexOf = this.claims.indexOf(this.selected[0]);
                    this.selected = []
                    this.claims.splice(indexOf, 1)
                })
            },
            statusJob() {
                //get status claim

            },
            checkStatus(value) {
                switch (value) {
                    case 'CREATED':
                        return 'Создано';
                    case 'IN_WORK':
                        return 'В работе';
                    case 'COMPLETED':
                        return 'Готово';
                    case 'CANCELED':
                        return 'Отклонено';
                }
            },
            prepareForm() {
                this.edited = this.selected[0]
            }
        }
    }
</script>
